body {
    font-family: 'Arial', sans-serif;
}

.edit-product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    color: rgb(0, 0, 0); 
}

.edit-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.edit-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
    width: 100%; 
    max-width: 400px; 
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold; 
}

.form-input {
    padding: 10px; 
    border-radius: 5px; 
    border: 1px solid #ccc; 
    width:  95%; 
}

.submit-button {
    padding: 10px;
    background-color: #4facfe; /* Color de fondo azul para el botón */
    color: white; 
    border: none;
    border-radius: 5px; 
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.submit-button:hover {
    background-color: #00f2fe; 
}