html, body {
    height: 100%;
    margin: 0;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.login-title {
    font-size: 2rem;
    color: white;
    margin-bottom: 20px;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}

.login-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 75vh;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    font-weight: bold;
}

.form-input {
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-input:focus {
    border-color: #4facfe;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #4facfe;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #00f2fe;
}