body {
    font-family: 'Arial', sans-serif;
}

.register-product-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to right, #00d9ff 0%, #00fea5 100%);
    color: rgb(0, 0, 0);
}

.register-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.register-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%; 
    max-width: 400px;
}

/* Responsive styling for mobile devices */
@media (max-width: 768px) {
    .register-title {
        font-size: 2rem;
    }

    .register-form {
        padding: 15px;
    }

    .form-input {
        width: 100%; /* Adjusts input width for mobile */
    }

    .submit-button {
        padding: 12px;
        font-size: 1rem;
    }

    .form-group {
        margin-bottom: 10px;
    }
}

.form-group {
    margin-bottom: 15px; 
}

label {
    font-weight: bold; 
}

.form-input {
    padding: 10px; 
    border-radius: 5px; 
    border: 1px solid #ccc; 
    width: 95%; 
}

.input-error {
    border-color: #d33; 
}

.error-message {
    color: #d33; 
    font-size: 0.9rem; 
}

.submit-button {
    padding: 10px; 
    background-color: #4facfe;
    color: white; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #00f2fe;
}
